Django==1.8.1
django-taggit==0.13.0
libsass==0.8.0
psycopg2==2.5.4
elasticsearch==1.2.0
django-redis==3.8.2
wagtail==1.0b2
### -e git://github.com/torchbox/wagtail.git@master#egg=wagtail
celery==3.1.17
django-debug-toolbar
