
{% extends "base.html" %}

{% load static home_tags wagtailcore_tags wagtailimages_tags i18n %}

{% block title %}Anmelden{% endblock %}

{% block body_class %}login{% endblock %}

{% block body %}
<main class="container mxn1 mt5 z2 clearfix">
	<div class="col-8 mx-auto">
    <h2 class="h2 bg-gray white m0 p1 ghostly">Anmelden</h2>
    <div class="p1 bg-white black ghostly container ">
      <img src="{% static 'img/logo500.png' %}" alt="Logo des SV SW Frömern" class="p3 m2 block  mx-auto col-4">
      <form method="post" class="form-vertical center">
	{% csrf_token %}
	{{ form.media }}
	<div class="control-group full-width p2">
          <input id="id_username" maxlength="30" name="username" placeholder="E-Mail Adresse" type="text" style="text-align: center;" 
		  class="col-8 mx-auto">
	</div>
	<div class="controls p2">
          <button type="submit" class="button bg-silver black">Anmelden</button>
	</div>
      </form>
    </div>
	</div>
</main>


{% endblock %}
