{% load compress static wagtailuserbar home_tags %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        {% compress css %}
	<link rel="stylesheet" href="{% static 'bower_components/normalize.css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'bower_components/fontawesome/css/font-awesome.css' %}">
	<link rel="stylesheet" href="{% static 'bower_components/animate.css/animate.css' %}">

            <link rel="stylesheet" type="text/css" href="{% static 'css/svfroemern.css' %}">
        {% endcompress %}

        {% block extra_css %}
            
        {% endblock %}
    </head>
  <body id="home" style="background-image: url({% static 'img/platz1_600.jpg' %})" class="bg-cover bg-norepeat bg-centerx bg-fixed">
 {% block body %}

{% endblock %}

</body>
</html>
