{% extends "base.html" %}

{% load static svfroemern_utils %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block main_content %}
		<section class="sm-col sm-col-8 mb2 px1">
			<div class="mb1">
			<img src="img/team.jpg" class="border border-silver"></div>

			<div class="mb1">
			<img src="img/blasen.jpg" class="border border-silver"></div>
			<h2 class="h2 bg-gray white m0 p1 ghostly">Neues</h2>
			<article class="p1 bg-white black ghostly">
				<img src="http://placecorgi.com/500/400" class="p1 md-col md-col-4 wow animate bounceInLeft">
				<h3 class="h3 mt0"><a href="#">Der Ascheplatz kommt!</a></h3>
				<p><span class="gray h5">23.04.2051&nbsp;&nbsp;</span> Helmut Krämer gelingt ein weitere großer Coup! Der inzwischen völlig veraltete Kunstrasenplatz in Frömern wird noch im Jahr 2015 in einen modernen Ascheplatz umgewandelt. Hierauf warten die aktiven schon lange. Bessere bespielbarkeit bei heißen Temperaturen und einfachere Wartung sind nur einige der Gründe, die für die neue Technologie sprechen. Auch Torwarte begrüßen den neuen Untergrund, da nur so ordentlich Steine in die Schürfwunden gelanden können.
				</p>
				<div class="clearfix">
				<a href="#" class="button button button-small bg-silver black right">weiterlesen</a>
				</div>
					
			</article>
			<article class="p1 bg-silver black ghostly">
				<img src="img/lehrgang.jpg"  class="mb1 mt1 mr1 md-col md-col-4 wowy animatey bounceInLefty col col-12">

				<h3 class="h3 mt0">Infoabend zum neuen Torwart-Abseits</h3>
				<p>
				In der kommenden Saison fürt der DFB als Folge einer FIFA-Regeländerung auch in Deutschland das Torwart-Abseits ein.
				</p><p>
					Dabei entscheidet der Schiedsrichter immer dann auf Abseits, wenn sich im Moment der Ballberührung durch den Torwart, ein Angreifer zwischen Eckfahne und Linienrichter befindet. In einem solchen Fall wird der Torwart verwarnt (gelbe Karte) und das Spiel mit einem Schiedsrichter-Ball fortgesetzt. 
				</p>
				<div class="clearfix">
					<a href="#" class="button button button-small bg-white black right">weiterlesen</a>
				</div>

</article>

						<article class="p1 bg-white black ghostly">
				<img src="http://placecorgi.com/400/500" class="p1 md-col md-col-4 wow animate bounceInLeft">
				<h3 class="h3 mt0">Der Ascheplatz kommt!</h3>
				<p>Helmut Krämer gelingt ein weitere großer Coup! Der inzwischen völlig veraltete Kunstrasenplatz in Frömern wird noch im Jahr 2015 in einen modernen Ascheplatz umgewandelt. Hierauf warten die aktiven schon lange. Bessere bespielbarkeit bei heißen Temperaturen und einfachere Wartung sind nur einige der Gründe, die für die neue Technologie sprechen. Auch Torwarte begrüßen den neuen Untergrund, da nur so ordentlich Steine in die Schürfwunden gelanden können.
				</p>
				<div class="clearfix">
				<a href="#" class="button button button-small bg-silver black right">weiterlesen</a>
				</div>
					
			</article>
			<article class="p1 bg-silver black ghostly clearfix">
				<img src="img/lehrgang.jpg" class="p1 md-col md-col-4 wow animate bounceInLeft">

				<h3 class="h3 mt0">Infoabend zum neuen Torwart-Abseits</h3>
				<p>
				In der kommenden Saison fürt der DFB als Folge einer FIFA-Regeländerung auch in Deutschland das Torwart-Abseits ein.
				</p><p>
					Dabei entscheidet der Schiedsrichter immer dann auf Abseits, wenn sich im Moment der Ballberührung durch den Torwart, ein Angreifer zwischen Eckfahne und Linienrichter befindet. In einem solchen Fall wird der Torwart verwarnt (gelbe Karte) und das Spiel mit einem Schiedsrichter-Ball fortgesetzt. 
				</p>
				<div class="clearfix">
					<a href="#" class="button button button-small bg-white black right">weiterlesen</a>
				</div>

</article>

			<article class="p1 bg-white black ghostly">
				<img src="http://placecorgi.com/600/300" class="p1 md-col md-col-4 wow animate bounceInLeft">
				<h3 class="h3 mt0">Der Ascheplatz kommt!</h3>
				<p>Helmut Krämer gelingt ein weitere großer Coup! Der inzwischen völlig veraltete Kunstrasenplatz in Frömern wird noch im Jahr 2015 in einen modernen Ascheplatz umgewandelt. Hierauf warten die aktiven schon lange. Bessere bespielbarkeit bei heißen Temperaturen und einfachere Wartung sind nur einige der Gründe, die für die neue Technologie sprechen. Auch Torwarte begrüßen den neuen Untergrund, da nur so ordentlich Steine in die Schürfwunden gelanden können.
				</p>
				<div class="clearfix">
				<a href="#" class="button button button-small bg-silver black right">weiterlesen</a>
				</div>
					
			</article>
			<article class="p1 bg-silver black ghostly clearfix">
				<img src="img/lehrgang.jpg" class="p1 md-col md-col-4 wow animate bounceInLeft">

				<h3 class="h3 mt0">Infoabend zum neuen Torwart-Abseits</h3>
				<p>
				In der kommenden Saison fürt der DFB als Folge einer FIFA-Regeländerung auch in Deutschland das Torwart-Abseits ein.
				</p><p>
					Dabei entscheidet der Schiedsrichter immer dann auf Abseits, wenn sich im Moment der Ballberührung durch den Torwart, ein Angreifer zwischen Eckfahne und Linienrichter befindet. In einem solchen Fall wird der Torwart verwarnt (gelbe Karte) und das Spiel mit einem Schiedsrichter-Ball fortgesetzt. 
				</p>
				<div class="clearfix">
					<a href="#" class="button button button-small bg-white black right">weiterlesen</a>
				</div>
			</article>
			<footer class="bg-gray ghostly clearfix p1">
					<a href="#" class="button button button-small bg-white black right">noch älteres Neues</a>
			</footer>



		</section>

{% endblock %}
