{% load compress static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        {% compress css %}
	<!-- link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
	<link rel="stylesheet" href="bower_components/basscss/css/basscss.css">
	<link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css">
	<link rel="stylesheet" href="bower_components/animate.css/animate.css" -->

            <link rel="stylesheet" type="text/css" href="{% static 'css/svfroemern.css' %}">
        {% endcompress %}

        {% block extra_css %}
            
        {% endblock %}
    </head>
  <body id="home" style="background-image: url({% static 'img/platz1_600.jpg' %})" class="bg-cover bg-norepeat bg-centerx bg-fixed">

        {% wagtailuserbar %}


	<div class="debug absolute top-0">
	<span class="sm-show">sm</span>
	<span class="md-show">md</span>
	<span class="lg-show">lg</span>
	</div>

	<header class="clearfix bg-darken-4  bg-left bg-norepeat bg-centery fixed full-width z1 top-0" >

		<div class="container">

		<div class="full-width table">
			<div class="table-cell vmiddle white py1 button button-transparent ">				
			<img src="{% static 'img/logo500.png' %}" height="60px" class="p1  left">

			</div>

			<div  class="table-cell  white  vmiddle button center button-transparent py1 h3">Verein</div>
			<div class="selected bg-darken-3 white table-cell vmiddle button center button-transparent py1 h3">Senioren</div>
			<div class="table-cell vmiddle white button center button-transparent py1 h3">Jugend</div>
			<div class="table-cell vmiddle white button center button-transparent py1 h3">Bratwurst</div>

			<!-- - >div class="table-cell vmiddle">
			<span class="h2 p1 vmiddle">SV Frömern 1928</span>
			</div -->
			<div class="table-cell vmiddle" >
				<a class=" button button-transparent py1 h2 right lg-hide" id="menu-toggle"><i class="fa fa-bars"></i></a>
			</div>
		<!--nav class="container bg-darken- clearfix" style="display:none;" id="menu-items">
				<a class="block fit button py2 button-transparent">Verein</a>
				<a class="block ftt button py2 button-transparent">Mannschaften</a>
				<a class="block fit button py2 button-transparent">Bratwürste</a>
				<a class="block fit button py2 button-transparent">Fanclub</a>
		</nav -->

		</div>
		</div>
	</header>

	<!-- - same height as fixed header -->
	<div class="p1 "><div class="p1" style="height: 60px; border: 1px solid transparent"></div></div>

	<nav class=" container team-nav bg-darken-4  mb2 mt2 ">
	  <!-- div class="full-width m0 center bg-darken-2 white bold h1">Jugend</div -->
	  <div class="full-width table ">
	    <a href="#" class="vmiddle team-nav-item table-cell   button button-transparent center py2 h2  white "
	       >A</a><a class="vmiddle team-nav-item table-cell button button-transparent py2  h2 center  white "
	       >B</a><a href="#" class="team-nav-item button-transparent button active table-cell py2 h2 center bg-darken-3 white "
               >C</a><a href="#" class="team-nav-item button-transparent button table-cell h2 py2 center   white"
               >D</a><a href="#" class="team-nav-item button-transparent button table-cell py2 h2 center  white "
               >E</a
               ><a href="#" class="table-cell  h2  team-nav-item button py2 button-transparent white center">F</a>
	  </div>
	</nav>

	<main class="container mxn1 mt5  z2 clearfix">
        {% block content %}

{% block main_content %}
{% endblock  %}
{% block sidebar %}
{% endblock %}
		{% endblock %}
	</main>



	<footer class="bg-black white full-width  clearfix">
		<div class="container p3 caps h6">
			<div class="sm-col sm-col-5 center">
				Impressum<br/>
				Kontakt<br/>
				Hauptverein<br/>
			</div>
			<div class="sm-col sm-col-2 center">
			<img src="{% static 'img/logo500.png' %}" height="60px" class="p1">
			</div>
			<div class="sm-col sm-col-5 center">
				Sponsoren<br/>
				Ausserdem<br/>
			</div>

		</div>
	</footer>




        {% compress js %}
        <!-- script type="text/javascript" src="bower_components/zepto/zepto.js"></script>
	<script src="bower_components/wow.js/dist/wow.js"></script -->


            <script type="text/javascript" src="{% static 'js/svfroemern.js' %}"></script>
        {% endcompress %}

	<script>
	new WOW().init();
	</script>


        {% block extra_js %}
            
        {% endblock %}
    </body>
</html>


	
