{% load compress static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        {% compress css %}
	<!-- link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
	<link rel="stylesheet" href="bower_components/basscss/css/basscss.css">
	<link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css">
	<link rel="stylesheet" href="bower_components/animate.css/animate.css" -->

            <link rel="stylesheet" type="text/css" href="{% static 'css/svfroemern.css' %}">
        {% endcompress %}

        {% block extra_css %}
            
        {% endblock %}
    </head>
  <body id="home" style="background-image: url({% static 'img/platz1_600.jpg' %})" class="bg-cover bg-norepeat bg-centerx bg-fixed">

        {% wagtailuserbar %}


	<div class="debug absolute top-0">
	<span class="sm-show">sm</span>
	<span class="md-show">md</span>
	<span class="lg-show">lg</span>
	</div>

	<header class="clearfix bg-darken-4  bg-left bg-norepeat bg-centery fixed full-width z1 top-0" >

		<div class="container">

		<div class="full-width table">
			<div class="table-cell vmiddle white py1 button button-transparent ">				
			<img src="{% static 'img/logo500.png' %}" height="60px" class="p1  left">

			</div>

			<div  class="table-cell  white  vmiddle button center button-transparent py1 h3">Verein</div>
			<div class="selected bg-darken-3 white table-cell vmiddle button center button-transparent py1 h3">Senioren</div>
			<div class="table-cell vmiddle white button center button-transparent py1 h3">Jugend</div>

			<!-- - >div class="table-cell vmiddle">
			<span class="h2 p1 vmiddle">SV Frömern 1928</span>
			</div -->
			<div class="table-cell vmiddle" >
				<a class=" button button-transparent py1 h2 right lg-hide" id="menu-toggle"><i class="fa fa-bars"></i></a>
			</div>
		<nav class="container bg-darken- clearfix" style="display:none;" id="menu-items">
				<a class="block fit button py2 button-transparent">Verein</a>
				<a class="block ftt button py2 button-transparent">Mannschaften</a>
				<a class="block fit button py2 button-transparent">Bratwürste</a>
				<a class="block fit button py2 button-transparent">Fanclub</a>
		</nav>

		</div>
		</div>
	</header>

	<!-- - same height as fixed header -->
	<div class="p1 "><div class="p1" style="height: 60px; border: 1px solid transparent"></div></div>

	<nav class=" container team-nav bg-darken-4  mb2 mt2 ">
	  <!-- div class="full-width m0 center bg-darken-2 white bold h1">Jugend</div -->
	  <div class="full-width table ">
	    <a href="#" class="vmiddle team-nav-item table-cell   button button-transparent center py2 h2  white "
	       >A</a><a class="vmiddle team-nav-item table-cell button button-transparent py2  h2 center  white "
	       >B</a><a href="#" class="team-nav-item button-transparent button active table-cell py2 h2 center bg-darken-3 white "
               >C</a><a href="#" class="team-nav-item button-transparent button table-cell h2 py2 center   white"
               >D</a><a href="#" class="team-nav-item button-transparent button table-cell py2 h2 center  white "
               >E</a
               ><a href="#" class="table-cell  h2  team-nav-item button py2 button-transparent white center">F</a>
	  </div>
	</nav>


	<main class="container mxn1 mt5  z2 clearfix">
        {% block content %}
<!-- 
	<nav class="team-nav sm-col sm-col-8 mb2 px1">
	  <div class="full-width m0 center bg-darken-2 white bold h1">Jugend</div>
	  <div class="full-width table" style="line-height: 1;">
	    <a href="#" class="vmiddle team-nav-item table-cell p1  center h2 bg-darken-3 white bold"
	       >A</a><a class="vmiddle team-nav-item table-cell   p1 h2 center bg-darken-2 white bold"
	       >B</a><a href="#" class="team-nav-item active table-cell p1 h2 center bg-darken-3 white bold"
               >C</a><a href="#" class="team-nav-item table-cell p1 h2 center bg-darken-3 white bold"
               >D</a><a href="#" class="team-nav-item table-cell p1 h2 center bg-darken-3 white bold"
               >E</a
               ><a href="#" class="table-cell bold p2 h2 bg-darken-3 white center">F</a>
	  </div>
	</nav> 
-->

		<section class="sm-col sm-col-8 mb2 px1">

			<h2 class="h2 bg-gray white m0 p1 ghostly">Spielplan</h2>
			<table class=" bg-white spielplan fit">
				<tr class="">
					<td class=""><i class="fa fa-home"></i></td><td>So, 13.04.2015 16&nbsp;Uhr</td><td class="bold">SV Frömern</td><td>TG Holzwickede</td><td class="bold">3&nbsp;:&nbsp;2 <i class="green fa fa-smile-o"></i></td>
				</tr>
				<tr class="">
					<td class=""><i class="fa fa-bus"></i></td><td>So, 20.04.2015 16&nbsp;Uhr</td><td>TV Bönen</td><td  class="bold">SV Frömern</td><td>&nbsp; <i class="red fa fa-frown-o"></i></td>
				</tr>
				<tr class="">
					<td class=""><i class="fa fa-home"></i></td><td>So, 27.04.2015 16&nbsp;Uhr</td><td class="bold">SV Frömern</td><td>SG Massen</td><td>&nbsp;</td>
				</tr>
			</table>
		</section>

		<section class="sm-col sm-col-8 mb2 px1">
			<h2 class="h2 bg-gray white m0 p1 ghostly">Kader</h2>
			<div class="full-width flex flex-wrap bg-white ">
				<div class="bg-white sm-col sm-col-6 col col-12">
					<img src="http://www.nicenicejpg.com/75/100" class="p1 col col-4">
					<div class="col-8 col p1">
						<strong class="gray">Trainer</strong><br/><strong>Klaus Müller</strong><br/>Jahrgang 2001<br/>Oberstürmer</div>
				</div>
				<div class="bg-white sm-col sm-col-6 col col-12">
					<img src="http://www.placesheen.com/150/200"  class="p1 col col-4">
					<div class="col-8 col p1">
						<strong>Klaus Müller</strong><br/>Jahrgang 2001<br/>Oberstürmer</div>
				</div>
				<div class="bg-white sm-col sm-col-6 col col-12">
					<img src="http://www.nicenicejpg.com/75/100" class="p1 col col-4">
					<div class="col-8 col p1">
						<strong>Klaus Müller</strong><br/>Jahrgang 2001<br/>Oberstürmer</div>
				</div>
				<div class="bg-white sm-col sm-col-6 col col-12">
					<img src="http://www.placesheen.com/75/100" class="p1 col col-4">
					<div class="col-8 col p1">
						<strong>Klaus Müller</strong><br/>Jahrgang 2001<br/>Oberstürmer</div>
				</div>
				<div class="bg-white sm-col sm-col-6 col col-12">
					<img src="http://www.nicenicejpg.com/150/200" class="p1 col col-4">
					<div class="col-8 col p1">
						<strong>Klaus Müller</strong><br/>Jahrgang 2001<br/>Oberstürmer</div>
				</div>


			</div>
		</section>	

{% block main_content %}
		<section class="sm-col sm-col-8 mb2 px1">
			<div class="mb1">
			<img src="img/team.jpg" class="border border-silver"></div>

			<div class="mb1">
			<img src="img/blasen.jpg" class="border border-silver"></div>
			<h2 class="h2 bg-gray white m0 p1 ghostly">Neues</h2>
			<article class="p1 bg-white black ghostly">
				<img src="http://placecorgi.com/500/400" class="p1 md-col md-col-4 wow animate bounceInLeft">
				<h3 class="h3 mt0"><a href="#">Der Ascheplatz kommt!</a></h3>
				<p><span class="gray h5">23.04.2051&nbsp;&nbsp;</span> Helmut Krämer gelingt ein weitere großer Coup! Der inzwischen völlig veraltete Kunstrasenplatz in Frömern wird noch im Jahr 2015 in einen modernen Ascheplatz umgewandelt. Hierauf warten die aktiven schon lange. Bessere bespielbarkeit bei heißen Temperaturen und einfachere Wartung sind nur einige der Gründe, die für die neue Technologie sprechen. Auch Torwarte begrüßen den neuen Untergrund, da nur so ordentlich Steine in die Schürfwunden gelanden können.
				</p>
				<div class="clearfix">
				<a href="#" class="button button button-small bg-silver black right">weiterlesen</a>
				</div>
					
			</article>
			<article class="p1 bg-silver black ghostly">
				<img src="img/lehrgang.jpg"  class="mb1 mt1 mr1 md-col md-col-4 wowy animatey bounceInLefty col col-12">

				<h3 class="h3 mt0">Infoabend zum neuen Torwart-Abseits</h3>
				<p>
				In der kommenden Saison fürt der DFB als Folge einer FIFA-Regeländerung auch in Deutschland das Torwart-Abseits ein.
				</p><p>
					Dabei entscheidet der Schiedsrichter immer dann auf Abseits, wenn sich im Moment der Ballberührung durch den Torwart, ein Angreifer zwischen Eckfahne und Linienrichter befindet. In einem solchen Fall wird der Torwart verwarnt (gelbe Karte) und das Spiel mit einem Schiedsrichter-Ball fortgesetzt. 
				</p>
				<div class="clearfix">
					<a href="#" class="button button button-small bg-white black right">weiterlesen</a>
				</div>

</article>

						<article class="p1 bg-white black ghostly">
				<img src="http://placecorgi.com/400/500" class="p1 md-col md-col-4 wow animate bounceInLeft">
				<h3 class="h3 mt0">Der Ascheplatz kommt!</h3>
				<p>Helmut Krämer gelingt ein weitere großer Coup! Der inzwischen völlig veraltete Kunstrasenplatz in Frömern wird noch im Jahr 2015 in einen modernen Ascheplatz umgewandelt. Hierauf warten die aktiven schon lange. Bessere bespielbarkeit bei heißen Temperaturen und einfachere Wartung sind nur einige der Gründe, die für die neue Technologie sprechen. Auch Torwarte begrüßen den neuen Untergrund, da nur so ordentlich Steine in die Schürfwunden gelanden können.
				</p>
				<div class="clearfix">
				<a href="#" class="button button button-small bg-silver black right">weiterlesen</a>
				</div>
					
			</article>
			<article class="p1 bg-silver black ghostly clearfix">
				<img src="img/lehrgang.jpg" class="p1 md-col md-col-4 wow animate bounceInLeft">

				<h3 class="h3 mt0">Infoabend zum neuen Torwart-Abseits</h3>
				<p>
				In der kommenden Saison fürt der DFB als Folge einer FIFA-Regeländerung auch in Deutschland das Torwart-Abseits ein.
				</p><p>
					Dabei entscheidet der Schiedsrichter immer dann auf Abseits, wenn sich im Moment der Ballberührung durch den Torwart, ein Angreifer zwischen Eckfahne und Linienrichter befindet. In einem solchen Fall wird der Torwart verwarnt (gelbe Karte) und das Spiel mit einem Schiedsrichter-Ball fortgesetzt. 
				</p>
				<div class="clearfix">
					<a href="#" class="button button button-small bg-white black right">weiterlesen</a>
				</div>

</article>

			<article class="p1 bg-white black ghostly">
				<img src="http://placecorgi.com/600/300" class="p1 md-col md-col-4 wow animate bounceInLeft">
				<h3 class="h3 mt0">Der Ascheplatz kommt!</h3>
				<p>Helmut Krämer gelingt ein weitere großer Coup! Der inzwischen völlig veraltete Kunstrasenplatz in Frömern wird noch im Jahr 2015 in einen modernen Ascheplatz umgewandelt. Hierauf warten die aktiven schon lange. Bessere bespielbarkeit bei heißen Temperaturen und einfachere Wartung sind nur einige der Gründe, die für die neue Technologie sprechen. Auch Torwarte begrüßen den neuen Untergrund, da nur so ordentlich Steine in die Schürfwunden gelanden können.
				</p>
				<div class="clearfix">
				<a href="#" class="button button button-small bg-silver black right">weiterlesen</a>
				</div>
					
			</article>
			<article class="p1 bg-silver black ghostly clearfix">
				<img src="img/lehrgang.jpg" class="p1 md-col md-col-4 wow animate bounceInLeft">

				<h3 class="h3 mt0">Infoabend zum neuen Torwart-Abseits</h3>
				<p>
				In der kommenden Saison fürt der DFB als Folge einer FIFA-Regeländerung auch in Deutschland und Bayern das Torwart-Abseits ein.
				</p><p>
					Dabei entscheidet der Schiedsrichter immer dann auf Abseits, wenn sich im Moment der Ballberührung durch den Torwart, ein Angreifer zwischen Eckfahne und Linienrichter befindet. In einem solchen Fall wird der Torwart verwarnt (gelbe Karte) und das Spiel mit einem Schiedsrichter-Ball fortgesetzt. 
				</p>
				<div class="clearfix">
					<a href="#" class="button button button-small bg-white black right">weiterlesen</a>
				</div>
			</article>
			<footer class="bg-gray ghostly clearfix p1">
					<a href="#" class="button button button-small bg-white black right">noch älteres Neues</a>
			</footer>



		</section>
{% endblock  %}
{% block sidebar %}
		<aside class="sm-col sm-col-4 px1">

			<div class="mb1">
			<h2 class="h2 p1 white bg-gray m0">Termine</h2>
			<div class="p1 bg-silver black  ghostly">
				<h3 class="h3 m0">13.05.2015</h3>
				<p>Blasenfussball!</p>
				<h3 class="h3 m0">20.05.2015</h3>
				<p>Freibier!</p>

			</div>
			</div>
			<div class="mb1">
			<h2 class="h2 p1 white bg-gray m0">Ergebnisse</h2>
			<div class="p1 bg-silver black  ghostly">
				<table class="small-table compact-table">
					<tbody>
						<tr>
							<th colspan="6">Samstag, 13.04.2015</th>
						</tr>
						<tr><td>A-Jugend</td><td>:</td><td>TuS Billmerich</td><td>5</td><td>:</td><td>0</td></tr>
						<tr><td>B-Jugend</td><td>:</td><td>Kleinkleckersdorf</td><td>1</td><td>:</td><td>4</td></tr>
						<tr><td>C-Jugend</td><td>:</td><td>SG TuRa FF Bergkamen</td><td>3</td><td>:</td><td>12</td></tr>

						<tr>
							<th colspan="6">Sonntag, 14.04.2015</th>
						</tr>
						<tr><td>BG Dettfurt</td><td>:</td><td>G-Jugend</td><td>5</td><td>:</td><td>0</td></tr>
						<tr><td>Netterstädt</td><td>:</td><td>F-Jugend</td><td>1</td><td>:</td><td>4</td></tr>
					</tbody>

				</table>

			</div>
			</div>
			<div class="mb1">
			<h2 class="h2 p1 white bg-gray m0">Spiele</h2>
			<div class="p1 bg-silver black  ghostly">
				<table class="small-table compact-table">
					<tbody>
						<tr>
							<th colspan="5">Samstag, 20.04.2015</th>
						</tr>
						<tr><td><i class="fa fa-home"></i></td><td>13 Uhr</td><td>A-Jugend</td><td>:</td><td>TuS Billmerich</td></tr>
						<tr><td><i class="fa fa-home"></i></td><td>13 Uhr</td><td>B-Jugend</td><td>:</td><td>TuS Billmerich</td></tr>

						<tr>
							<th colspan="5">Sonntag, 21.04.2015</th>
						</tr>
						<tr><td><i class="fa fa-bus"></i></td><td>13 Uhr</td><td>FC Hohenheide</td><td>:</td><td>1. Herren</td></tr>
						<tr><td><i class="fa fa-bus"></i></td><td>13 Uhr</td><td>FG Bausenhagen</td><td>:</td><td>3. Damen</td></tr>

					</tbody>

				</table>


			</div>
			</div>

		</aside>
{% endblock %}
		{% endblock %}
	</main>



	<footer class="bg-black white full-width  clearfix">
		<div class="container p3 caps h6">
			<div class="sm-col sm-col-5 center">
				Impressum<br/>
				Kontakt<br/>
				Hauptverein<br/>
			</div>
			<div class="sm-col sm-col-2 center">
			<img src="{% static 'img/logo500.png' %}" height="60px" class="p1">
			</div>
			<div class="sm-col sm-col-5 center">
				Sponsoren<br/>
				Ausserdem<br/>
			</div>

		</div>
	</footer>




        {% compress js %}
        <!-- script type="text/javascript" src="bower_components/zepto/zepto.js"></script>
	<script src="bower_components/wow.js/dist/wow.js"></script -->


            <script type="text/javascript" src="{% static 'js/svfroemern.js' %}"></script>
        {% endcompress %}

	<script>
	new WOW().init();
	</script>


        {% block extra_js %}
            
        {% endblock %}
    </body>
</html>


	
